
body {
  margin: 0;
}

h2 {
  text-align: center;
}
.responsive {
  max-width: 100%;
  display: block;
  margin: auto;
  text-align:center
}

.head {
  padding-bottom: 25px;
  padding-top: 50px;
  text-align: center;
}

.top-part {
  display: flex;
  flex-wrap: wrap;
}

.about-me {
  flex: 400px;
  background: purple;
  padding: 50px 40px;
  color: white;
  text-align: left;
}

.design-to-me {
  flex: 400px;
  background: teal;
  padding: 50px 40px;
  color: white;
  text-align: left;
}

.plan {
  background: steelblue;
  padding: 50px;
  color: white;
  text-align: center;  
}

.box {
  font-size: 2em;
  text-align: center;
  color: #eee;
  border: 3px solid #eee;
  padding: 15px;
  display: inline-block;
  margin: 0 0 50px;
}
.projectsFirstLine {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
  
.projectsSecondLine {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.projectsThirdLine {
  display: flex;
  flex-wrap: wrap;   
  padding: 50px;  
}

.projectsFourthLine {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;  
}

.projectsFifthLine {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;  
}

.section-name {
  width: 100%;
  text-align: center;
}
.section-name h1 {
  border-color: black;
  color: black;
  margin: 15px;
}
.project {
  flex: 1 400px;
  padding: 0px 30px;
}
.footer{
  background: orangered;
  color: black;
  padding: 10px;
  text-align: center;
  flex: 1600px;
}

button {
	cursor: pointer;
	appearance: none;
	border-radius: 4px;
	padding: 0.75rem 1rem;
	border: 1px solid navy;
	background-color: dodgerblue;
	color: white;
}
